# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
/*.iml
/.vscode/
/*.class

# Logs
*.log

# Outros
.DS_Store
.env

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
